@media (max-width: 600px) {
    #h1{
        color:red;
    }
    .h1{
        color:red;
    }
  }
  
  @media (min-width: 600px) {
    #h1{
        color:green;
    }
    .h1{
        color:green;
    }
  }
  

    
  @media (min-width: 20px) {
    .navbar{
        z-index: 10000;
        position: fixed;
        top: 0px;
        width: 100%;
     }​ 
    
     #navbar{
        z-index: 10000;
        position: fixed;
        top: 0px;
        width: 100%;
     }​ 
    
  }
  
  
 
 
 
 




